* {
    color: #666;
    font-size: 1em;
    line-height: 1.5;
}

.hoverPinkBack {
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    display: inline-block;
    transition-property: width;
    transition-duration: 1s;
}

nav .hoverPinkBack:hover {
    text-decoration:none;
    background-color: #ff0077;
    color: #fff;
    width: 220px;
}

nav .hoverPinkBack:active {
    position:relative;
    top: 2px;
}

article, div {
    text-align: center;
}

article {
    padding-bottom: 50px;
    padding-top: 50px;
}

footer {
    margin-top: 100px;
    bottom: 2px;
    font-size: 1em;
}

footer div {
    text-align: left;
}

ul {
    list-style-type: none;
}

.schedule-table {
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    border-collapse: collapse;
    margin: 0px auto;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    width: 800px;
}

.schedule-table tr, td{
	height: 60px;
    padding: 15px;
    border: 1px dashed #444;
}

.boardWrite {
    border: none;
    text-align: right;
}

h2 {
    font-weight: bold;
    font-size: 2.5em;
}

#signin input[placeholder] {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: -1px 10px;
    width: 300px;
    padding: 10px;
}

#signin button[type=submit] {
    border-radius: 0px;
    width: 320px;
    border: none;
    letter-spacing: 0.5em;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

#signin label {
    text-align: left;
}

#signin {
    margin: 0 auto;
    width: 30%;
}

h1 {
    color:  rgb(255, 119, 176);
    font-weight: bold;
    font-size: 2em;
}

h3 {
    color:  rgb(255, 119, 176);
    font-weight: bold;
    font-size: 1.5em;
}

p {
    margin-bottom: 3%;
}

.width_100 {
    width: 100%;
}

.pink {
    color: rgb(255, 119, 176);
}

aside {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    z-index: 10;
    opacity: 50%;
}

.to_login_join {
    box-sizing: border-box;
    text-align: right;
    margin-right: 7%;
}

.floatLeft {
    float: left;
}

ul li a {
    text-align: center;
    font-size: 20px;
    list-style-type: none;
    color: rgb(255, 119, 176);
}

.image-text-box {
    position: relative;
}

.inner-text {
    width: 100%;
    position: relative;
    left: 50%;
    top: -250px;
    transform: translate(-50%, -50%);
}

.white-font {
    color: #fff;
}

.table_block {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.center-algin {
    position: absolute;
    left: 20%;
    top: 40%;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.logo img {
    width: 20%;
    margin: auto;
}

.logo a:focus, .logo a:hover {
    text-decoration: none;
}

.join-area {
    width: 350px;
    margin: 20px auto;
}

.btn-shape {
    margin: 0px auto;
    width: 400px;
    height: 50px;
    background-color: #ff76b6;
    border-radius: 50px;
}

.btn-shape:hover {
    background-color: #ff0077;
}

.btn-shape:active {
    top: 2px;
    position: relative;
}

.whoIsYewon a {
    color: #ad2b62;
}

.whoIsYewon a:hover {
    background-color: #ad2b62;
    color: #fff;
}

hr {
    border: 1px solid #ff0077;
}